$XS:8;
$S:16;
$M:24;
$L:32;
$XL:64;

.chatScene {
  -fx-background-color: white;
  -fx-font-size: $M;
}

.topBar {
  -fx-background-color: #85aa9b;
}

.rightPanel {
  -fx-background-color: #d0ded8;
}

.messageBox {
  -fx-background-radius: 2em;
  -fx-background-color: #85aa9b;
  -fx-padding: 8;
  -fx-wrap-text: true;
  -fx-max-width: 400;
  -fx-fill-width: true;
  -fx-fill-height: true;
  -fx-text-fill: black;
  -fx-font-size: 19;
}

.messageBoxSender {
  -fx-background-radius: 2em;
  -fx-background-color: lighten(blue, $M);
  -fx-padding: 8;
  -fx-wrap-text: true;
  -fx-max-width: 400;
  -fx-fill-width: true;
  -fx-fill-height: true;
  -fx-text-fill: black;
  -fx-alignment: top-right;
  -fx-font-size: 19;
}


